@import "tailwindcss";

@theme {
  --color-art-bg-dark: #25022A;
  --color-art-bg-darker: #320425;
  --color-art-primary: #6c2769;
  --color-art-primary-hover: #7c3279;
  --color-art-secondary: #6c2769;
  --color-art-text-primary: rgba(255, 255, 255, 0.87);
  --color-art-text-secondary: #CCCCCC;
  --color-art-text-light: #C67DC7;
  --color-art-text-hint: #A1A1A1;
  --max-width: 1125px;
  --font-rubik: 'Rubik', sans-serif;
  --color-art-seperator: #3003260A;
  --color-art-error: #551635;
  --gradient-art-primary: linear-gradient(to bottom right, var(--color-art-bg-dark), var(--color-art-bg-darker));
}

.w-max-container {
  max-width: var(--max-width);
}
